.toptext{
    color: #FA804C;
}
.panda-bg-info{
    background-color: #FBEDE3;
}
.topbtn{
    background-color: #3D4FF3;
}
.header{
    height: 550px;
}
.shoebg{
    background-color: #F1F1F1;
}
.bottom-info-height{
    height: 135px;
}
.bottom-info-width{
    width: 489px;
}
.bottom-info-img{
    width: 78px;
    height: 82px;
}
.bottom-info-txt{
    width: 78px;
    height: 82px;
}
.bottom-shopping-img{
    width: 599px;
    height: 354px;
}

/*------------------- style="width: 18rem; --------------- */